<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="zh">
	<body>
		<div th:fragment="btm_bar()" class="btm_bar">
			<div class="container">
				<div class="btm_bar_content">
					<nav>
						<ul>
							<li><a href="#" title="">导航</a>
								<div class="mega-menu">
									<ul>
										<li><a href="/video" title="">主页</a></li>
										<li><a href="/video/account" title="">个人信息</a></li>
										<li><a href="#" title="">小知识</a></li>
										<li><a href="#" title="">我的项目</a></li>
										<li><a href="signup.html" title="">竞争力</a></li>
									</ul>
									<ul>
										<li><a href="#" title="">我的视频 <span class="icon-arrow_below"></span></a>
											<ul>
												<li><a href="#" title="">html基础</a></li>
												<li><a href="#" title="">css</a></li>
												<li><a href="#" title="">js＆jquery</a></li>
												<li><a href="#" title="">java入門</a></li>
												<li><a href="#" title="">SQL基礎</a></li>
												<li><a href="#" title="">Linux入門</a></li>
											</ul>
										</li>

									</ul>
								</div>
								<div class="clearfix"></div>
							</li>
							<li><a href="#" title="视频分类">视频分类</a></li>
							<li><a href="#" title="我要提问题">提问回答</a></li>
							<li><a href="#" title="看看人家怎么说的">博客</a></li>
							<li><a href="#" title="看一下电影吧">学累了</a></li>
						</ul>
					</nav><!--navigation end-->
					<ul class="shr_links">
						<li>
							<h3>单元考试 </h3>
						</li>
						<li>
							<button data-toggle="tooltip" data-placement="top" title="视频收藏">
								<i class="icon-watch_later"></i>
							</button>
						</li>
						<li>
							<button data-toggle="tooltip" data-placement="top" title="购买单视频">
								<i class="icon-purchased"></i>
							</button>
						</li>
						<li>
							<button data-toggle="tooltip" data-placement="top" title="历史记录">
								<i class="icon-history"></i>
							</button>
						</li>
					</ul><!--shr_links end-->
					<div class="clearfix"></div>
				</div><!--btm_bar_content end-->
			</div>
		</div>
	</body>
</html>
