<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div th:fragment="cmt()" class="cmt-bx">
			<div id="app" class="container" style="padding-top: 64px;">
				<div class="container">
					<div class="error" v-if="error">
						{{ msg }}
					</div>

					<!--
					<div class="columns" v-else>
						<table>
							<tr>
								<td>编号</td>
								<td>图书名称</td>
								<td>作者</td>
							</tr>

						</table>
					</div>
					-->

					<div class="cmt-bx">
						<ul class="cmt-pr">
							<li><span>18,386</span> Comments</li>
							<li>
								<span><i class="icon-sort_by"></i><a href="#" title="">Sort By</a></span>
							</li>
						</ul>

						<ul class="cmn-lst">
							<li>
								<div class="vcp_inf">
									<div class="vc_hd">
										<img src="images/resources/th2.png" alt="">
									</div>
									<div class="coments">
										<div class="pinned-comment">
											<span><i class="icon-pinned"></i>Pinned by ScereBro</span>
										</div>
										<h2>ScereBro <small class="posted_dt"> . 18 hours ago</small></h2>
										<p>Where does Thor: Ragnarok rank amongst the other Thor movies? Amongst the rest of the MCU? Let us know in the comments below and tell us which other movies you'd like to see us make Honest.</p>
										<ul class="cmn-i">
											<li>
												<a href="#" title="">
													<i class="icon-thumbs_up"></i>
												</a>
												<span>680</span>
											</li>
											<li>
												<a href="#" title="">
													<i class="icon-thumbs_down"></i>
												</a>
												<span>21</span>
											</li>
										</ul>
										<a href="#" title="">View all 164 replies</a>
									</div><!--coments end-->
								</div><!--vcp_inf end-->
							</li>
							<li>
								<div class="vcp_inf">
									<div class="vc_hd">
										<img src="images/resources/th3.png" alt="">
									</div>
									<div class="coments">
										<h2>Doge <small class="posted_dt"> . 2 hours ago</small></h2>
										<p>Depressive Alcoholics are my favorite superheroes </p>
										<ul class="cmn-i">
											<li>
												<a href="#" title="">
													<i class="icon-thumbs_up"></i>
												</a>
												<span>61</span>
											</li>
											<li>
												<a href="#" title="">
													<i class="icon-thumbs_down"></i>
												</a>
												<span>3</span>
											</li>
										</ul>
										<a href="#" title="">View all 26 replies</a>
									</div><!--coments end-->
								</div><!--vcp_inf end-->
							</li>
							<div style="width: 750px;">
								<form class="layui-form">
									<div class="layui-form-item">
							  <textarea name="demo" id="demo" class="layui-hide"></textarea>
									</div>
									<button class="layui-btn">提交</button>
									<a class="layui-btn" id="getChoose">获取选中内容</a>
								</form>
							</div>
						</ul><!--comment list end-->
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
