<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div th:fragment="cmt()" class="cmt-bx">
			<div id="app" class="container" style="padding-top: 64px;">
				<div class="container">
					<div class="error" v-if="error">
						{{ msg }}
					</div>
					<div class="columns" v-else>
						<table>
							<tr>
								<td>编号</td>
								<td>图书名称</td>
								<td>作者</td>
							</tr>
							<tr v-for="item in info" v-bind:key="item.id">
								<td>{{item.id}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
