<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div th:fragment="cmt()" class="cmt-bx">
			<div id="app" class="container">
				<div class="layui-container">
					<div STYLE="width: 755px;" v-if="flg==1">
						<span v-html="info[0].content"></span>
					</div>
					<div v-if="flg==0" class="layui-row layui-col-space15">
						<div class="fly-panel">
							<ul class="fly-list">
								<li v-for="item in info" v-bind:key="item.id">
									<a  class="fly-avatar" v-on:click="answer(item.question_id)" >
										<img :src="'/images/'+item.profile_image"　alt="用户名">
									</a>
									<h2> <a class="layui-badge">分享</a> <a href="/jie/66075/"><span v-html="item.content"></span></a> </h2>
								</li>
								<li> <a href="/u/54843936" class="fly-avatar"> <img src="//thirdqq.qlogo.cn/g?b=oidb&amp;k=YN9956zWBuOFTDw1Y7jZiaA&amp;s=100&amp;t=1584216733"
																					alt="伊丈夫"> </a>
									<h2> <a class="layui-badge">分享</a> <a href="/jie/65497/">使用layui的第30天：分享利用layui的文件导入excel，并且通过mvc导入到数据库</a>
									</h2>
									<div class="fly-list-info"> <a href="/u/54843936" link=""> <cite>伊丈夫</cite> </a> <span>2020-4-19 </span> <span
											class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i> 20</span> <span class="fly-list-nums">
										<i class="iconfont icon-pinglun1" title="回答"></i> 19 </span> </div>
									<div class="fly-list-badge"> <span class="layui-badge layui-bg-red">精帖</span> </div>
								</li>
							</ul>
						</div>
					</div>
					<div style="width: 755px;">
						<form class="layui-form" method="post" th:action="@{/video/question}">
							<div class="layui-form-item">
								<textarea name="content" id="demo" class="layui-hide"></textarea>
								<input type="hidden" name="lesson_id" th:value="${LessonChapterPojoOne.lessonId}" />
								<input type="hidden" name="chapter_no" th:value="${LessonChapterPojoOne.chapterNo}" />
							</div>
							<button class="layui-btn">提交</button>
							<a class="layui-btn" id="getChoose">获取选中内容</a>
						</form>
					</div>
				</div>
				</div>
			</div>
		</div>
	</body>
</html>
