<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
	</head>

	<body>
		<div th:fragment="column()" class="top_bar">
			<ul class="cmn-lst">
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th2.png" alt="">
						</div>
						<div class="coments">
							<div class="pinned-comment">
								<span><i class="icon-pinned"></i>Pinned by ScereBro</span>
							</div>
							<h2>ScereBro <small class="posted_dt"> . 18 hours ago</small></h2>
							<p>Where does Thor: Ragnarok rank amongst the other Thor movies? Amongst the rest of the MCU? Let us know in the comments below and tell us which other movies you'd like to see us make Honest.</p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>680</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>21</span>
								</li>
							</ul>
							<a href="#" title="">View all 164 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th3.png" alt="">
						</div>
						<div class="coments">
							<h2>Doge <small class="posted_dt"> . 2 hours ago</small></h2>
							<p>Depressive Alcoholics are my favorite superheroes </p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>61</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>3</span>
								</li>
							</ul>
							<a href="#" title="">View all 26 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th4.png" alt="">
						</div>
						<div class="coments">
							<h2>Juan Lacanaria <small class="posted_dt"> . 12 hours ago</small></h2>
							<p>Can you please say "winner winner , chicken dinner" </p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>22</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span></span>
								</li>
							</ul>
							<a href="#" title="">View all 9 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th5.png" alt="">
						</div>
						<div class="coments">
							<h2>Comander Lucky <small class="posted_dt"> . 2 weeks ago</small></h2>
							<p>It looked like electro shuffle was most synced</p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>37</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>3</span>
								</li>
							</ul>
							<a href="#" title="">View all 12 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th1.png" alt="">
						</div>
						<div class="coments">
							<h2>Menji <small class="posted_dt"> . 1 week ago</small></h2>
							<p>The floss, fresh, flapper, ride the pony were all in sync if you ask me plus if they used the original music they would be copyrighted. Plus the original music made it worst for these dances. </p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>147</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>8</span>
								</li>
							</ul>
							<a href="#" title="">View all 7 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th3.png" alt="">
						</div>
						<div class="coments">
							<h2>Storax Storm <small class="posted_dt"> . 11 hours ago</small></h2>
							<p>Well Epic Games would have gotten Copyrighted if they used the original music but yea I see you</p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>71</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>28</span>
								</li>
							</ul>
							<a href="#" title="">View all 21 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th2.png" alt="">
						</div>
						<div class="coments">
							<h2>Nick Jacobs <small class="posted_dt"> . 6 hours ago</small></h2>
							<p>Electro shuffle best dance hands down </p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>42</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span></span>
								</li>
							</ul>
							<a href="#" title="">View all 32 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
				<li>
					<div class="vcp_inf">
						<div class="vc_hd">
							<img src="images/resources/th4.png" alt="">
						</div>
						<div class="coments">
							<h2>Jumpman30  <small class="posted_dt"> . 2 hours ago</small></h2>
							<p>bruh okay the original fresh music is the best hands down, it looks classy. the music they put on the fresh in fort nite  makes it worse </p>
							<ul class="cmn-i">
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_up"></i>
									</a>
									<span>48</span>
								</li>
								<li>
									<a href="#" title="">
										<i class="icon-thumbs_down"></i>
									</a>
									<span>2</span>
								</li>
							</ul>
							<a href="#" title="">View all 3 replies</a>
						</div><!--coments end-->
					</div><!--vcp_inf end-->
				</li>
			</ul>
		</div>
	</body>
</html>
