<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<div th:fragment="program()" class="lang_container">
		    <table>
		        <tbody>
		            <tr>
		                <td><input id="languageInput" type="text" name="name"></td>
						<td>
							<select name="example" style="height: 30px;">
							<option value="1">1 years</option>
							<option value="2">2 years</option>
							<option value="3">over 3 years</option>
							</select>
						</td>
		                <td><button class="removeLanguage">-</button></td>
		            </tr>
		        </tbody>
		    </table>
		    <button type="button" id="addRow">追加</button>
		</div>
	</body>
</html>