<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
	</head>

	<body>
		<div th:fragment="recomend()" class="col-lg-3">
			<div class="sidebar">
				<div class="vidz-prt">
					<h2 class="sm-vidz">最近更新视频教程</h2>
					<h3 class="aut-vid">
					</h3>
					<div class="clearfix"></div>
				</div><!--vidz-prt end-->
				<div th:each="lessonTblPojo:${listRecommend}" class="videoo-list-ab">
					<div class="videoo">
						<div class="video_info">
							<h3>
								<a th:utext="${lessonTblPojo.lessonName}" th:href="@{/watch(lessonId=${lessonTblPojo.lessonId},chapterNo=0,sectionNo=0,tagFlg=1)}" title=""></a>
							</h3>
						</div>
						<div class="vid_thumbainl">
							<a th:href="@{/watch(lessonId=${lessonTblPojo.lessonId},chapterNo=0,sectionNo=0,tagFlg=1)}" title="">
								<img th:src="${'../'+lessonTblPojo.lessonImg}" alt="">
								<span class="vid-time">10:21</span>
								<span class="watch_later"><i class="icon-watch_later_fill"></i></span>
							</a>
						</div><!--vid_thumbnail end-->
					</div><!--videoo end-->
				</div><!--videoo-list-ab end-->
			</div><!--side-bar end-->
		</div>
	</body>
</html>
