<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body >
		<h2>文件下载列表</h2>
		<hr/>
		<div style="background-color: #F8F8FF;width: 900px;height: 800px;margin: auto;
													border: solid 2px blue;">
			<div style="width: 700px;height: 600px;margin: auto;">
				<br><br><br>
				下载：&emsp; <a href="/MyProject/testDownload1">1.png</a> <br>
				下载：&emsp; <a href="/MyProject/testDownload2">Android常用英语.docx</a><br>
				下载：&emsp; <a href="/MyProject/testDownload3">Git-2.17.0-64-bit.exe</a><br>
				下载：&emsp; <a href="/MyProject/testDownload4">MyBatis源代码.zip</a><br>
			</div>
		</div>
	</body>
</html>
