table {
  border-collapse: collapse;
  text-align:left;
  margin:auto;
  width: 900px;
}

.login_table{
  border-collapse: collapse;
  text-align:center;
  margin:auto;
  width: 20%;
}


tr{

}

th{
	background: #17b89d69;
	width: 40%;
}


td{
	width: 60%;
}

.outerDiv{

	margin:0 auto;
	text-align:center;
	width: 900px;

}