<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

  <!--
    変数の定義を行います。
    2行目は外部のプロパティファイルの内容から定義します。
  -->
  <property name="LOG_DIR" value="/var/microservice" />

  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>com.example.sample.animal.Cat</Marker>
    <OnMatch>ACCEPT</OnMatch>
  </turboFilter>

  <!--
     標準出力に出力する設定です。
  -->
  <appender name="STDOUT_A" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>A: %-5r %d{yyyy-MM-dd HH:mm:ss} [%t] %highlight(%-5le) %cyan(%-40.40lo{36}) - %green(%msg) %n</pattern>
    </encoder>
  </appender>


  <!--
    ログファイルを出力するシンプルな設定です。
  -->
  <appender name="FILE_A" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/project.log</file>
    <encoder>
      <pattern>%-5r %d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5le %lo{36} [%file:%line] - %msg %n</pattern>
    </encoder>
  </appender>



  <!--
    ログファイルをアーカイブする設定です。
    時間とファイルサイズでアーカイブします。
  -->
  <appender name="ROLLING_A" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/microservice.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/roll_d_%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5KB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%-5r %d{yyyyMMdd HH:mm:ss.SSS} [%t] %-5le %lo{36} - %msg %n</pattern>
    </encoder>
  </appender>


  <!--
    上記のロガーの祖先ロガーです。
  -->
  <logger name="com.sbworks.mqPro" level="DEBUG">
    <appender-ref ref="STDOUT_A"/>
  </logger>

  <root level="DEBUG">
    <appender-ref ref="FILE_A" />
    <!--
    <appender-ref ref="ROLLING_A"/>
    -->
  </root>

</configuration>