<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Oren Video Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="icon" href="images/Favicon.png">

		<link rel="stylesheet" type="text/css" href="css/tei.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.css">
		<link rel="stylesheet" type="text/css" href="css/color.css">
		<link rel="stylesheet" type="text/css" href="css/layui.css">

	</head>
	<body>
		<div class="wrapper">

			<header>
				<div th:replace="/common/tob_bar.html::top_bar()"></div><!--header_content end-->
				<div th:replace="/common/btm_bar.html::btm_bar()"></div><!--header_content end-->
			</header><!--header end-->
			<div th:replace="/common/side_menu.html::side_menu()"></div><!--header_content end-->

			<section class="user-account">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="sidebar">
								<div class="widget video_info pr sp">
									<span class="vc_hd">
										<img src="images/resources/sn.png" alt="">
									</span>
									<h4>郑英群</h4>
								</div><!--video_info pr-->
								<div class="widget account">
									<h2 class="hd-uc"> <i class="icon-user"></i> Account</h2>
									<ul>
										<li><a href="#">我的信息</a></li>
										<li><a href="#">变更密码</a></li>
										<li><a href="#">变更个人信息</a></li>
									</ul>
								</div><!--account end-->
							</div><!--sidebar end-->
						</div>
						<div class="col-lg-9">
							<div class="video-details">
								<div class="latest_vidz">
									<div class="latest-vid-option">
										<h2 class="hd-op"> 最近观看过的课程</h2>
										<a href="#" title="" class="op-1">Video Details</a>
										<a href="#" title="" class="op-2"> Options</a>
										<div class="clearfix"></div>
									</div><!--latest-vid-option end-->
									<div class="vidz_list">
										<div class="tb-pr">
											<div class="row">
												<div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
													<div class="tab-history acct_page">
														<div class="videoo">
															<div class="vid_thumbainl ms br">
																<a href="single_video_page.html" title="">
																	<img src="images/resources/vide1.png" alt="">
																	<span class="vid-time">30:32</span>
																	<span class="watch_later">
																		<i class="icon-watch_later_fill"></i>
																	</span>
																</a>
															</div><!--vid_thumbnail end-->
															<div class="video_info ms br">
																<h3><a href="single_video_page.html" title="">HTML基础教程</a></h3>
															</div>
															<div class="clearfix"></div>
														</div><!--videoo end-->
													</div>
												</div>
												<div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
													<div class="icon-list">
														<ul>
															<li><a href="#" title=""><i class="icon-play"></i></a></li>
															<li><a href="#" title=""><i class="icon-pencil"></i></a></li>
															<li><a href="#" title=""><i class="icon-cancel"></i></a></li>
														</ul>
													</div><!--icon-list end-->
												</div>
											</div>
										</div><!--tb-pr end-->
										<div class="tb-pr">
											<div class="row">
												<div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
													<div class="tab-history acct_page">
														<div class="videoo">
															<div class="vid_thumbainl ms br">
																<a href="single_video_page.html" title="">
																	<img src="images/resources/vide2.png" alt="">
																	<span class="vid-time">30:32</span>
																	<span class="watch_later">
																		<i class="icon-watch_later_fill"></i>
																	</span>
																</a>
															</div><!--vid_thumbnail end-->
															<div class="video_info ms br">
																<h3><a href="single_video_page.html" title="">CSS基础教程</a></h3>
															</div>
															<div class="clearfix"></div>
														</div><!--videoo end-->
													</div>
												</div>
												<div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
													<div class="icon-list">
														<ul>
															<li><a href="#" title=""><i class="icon-play"></i></a></li>
															<li><a href="#" title=""><i class="icon-pencil"></i></a></li>
															<li><a href="#" title=""><i class="icon-cancel"></i></a></li>
														</ul>
													</div><!--icon-list end-->
												</div>
											</div>
										</div><!--tb-pr end-->
										<div class="tb-pr">
											<div class="row">
												<div class="col-xl-8 col-lg-9 col-md-9 col-sm-12">
													<div class="tab-history acct_page">
														<div class="videoo">
															<div class="vid_thumbainl ms br">
																<a href="single_video_page.html" title="">
																	<img src="images/resources/vide3.png" alt="">
																	<span class="vid-time">30:32</span>
																	<span class="watch_later">
																		<i class="icon-watch_later_fill"></i>
																	</span>
																</a>
															</div><!--vid_thumbnail end-->
															<div class="video_info ms br">
																<h3><a href="single_video_page.html" title="">JAVA基础教程</a></h3>
															</div>
															<div class="clearfix"></div>
														</div><!--videoo end-->
													</div>
												</div>
												<div class="col-xl-4 col-lg-3 col-md-3 col-sm-12">
													<div class="icon-list">
														<ul>
															<li><a href="#" title=""><i class="icon-play"></i></a></li>
															<li><a href="#" title=""><i class="icon-pencil"></i></a></li>
															<li><a href="#" title=""><i class="icon-cancel"></i></a></li>
														</ul>
													</div><!--icon-list end-->
												</div>
											</div>
										</div><!--tb-pr end-->
									</div><!--vidz_list end-->
								</div><!--latest_vidz end-->
								<div class="change-pswd">
									<h2 class="hd-op">变更密码</h2>
									<form>
										<div class="ch-pswd">
											<input type="password" name="old_password" placeholder="旧密码">
										</div><!--ch-pswd end-->
										<div class="ch-pswd">
											<input type="password" name="new_password" placeholder="新密码">
										</div><!--ch-pswd end-->
										<div class="ch-pswd">
											<input type="password" name="confirm_password" placeholder="确认新密码">
										</div><!--ch-pswd end-->
										<div class="ch-pswd">
											<button type="submit"> 变更</button>
										</div><!--ch-pswd end-->
									</form>
								</div><!--change-pswd end-->
<div class="account-details">
									<div class="account_details_content">
										<h2 class="hd-op">变更个人信息</h2>
										<h4 class="slct-hd">国家</h4>
										<div class="slct_optz">
											<select>
												<option>中国</option>
												<option>日本</option>
												<option>美国</option>
											</select>
										</div>
										<h4 class="slct-hd">性别</h4>
										<ul class="gend">
											<li>
												<div class="chekbox-lg">
													<label>
														<input type="radio" name="gender" value="man">
														<b class="checkmark"></b>
														<span>男</span>
													</label>
												</div>
											</li>
											<li>
												<div class="chekbox-lg">
													<label>
														<input type="radio" name="gender" value="female">
														<b class="checkmark"> </b>
														<span>女</span>
													</label>
												</div>
											</li>
										</ul>
										<h4 class="slct-hd">邮件</h4>
										<div>
											<select>
												<option> ABGC</option>
												<option> ABGC</option>
												<option> ABGC</option>
												<option> ABGC</option>
											</select>
										</div>

										<h4 class="slct-hd">生年月日</h4>
										<input type="text" class="demo-input" placeholder="请选择日期" id="birthday">
</div>
<div class="account_details_content">
									<h2 class="hd-op">技术简历</h2>

										<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">

										</fieldset>
										<div class="layui-collapse" lay-filter="test">
										  <div class="layui-colla-item">
											<h2 class="layui-colla-title">编程语言</h2>

											<div class="layui-colla-content">

<div id="test7" class="demo-tree"></div>

											</div>
										  </div>
										  <div class="layui-colla-item">
											<h2 class="layui-colla-title">取得资格</h2>
											<div class="layui-colla-content">
											  <p>资格1</p>
											</div>
										  </div>
										  <div class="layui-colla-item">
											<h2 class="layui-colla-title">就职过哪家公司？</h2>
											<div class="layui-colla-content">
											  <p>微软，IBM</p>
											</div>
										  </div>
										  <div class="layui-colla-item">
											<h2 class="layui-colla-title">参加过哪些项目？</h2>
											<div class="layui-colla-content">
											  <p>东京都医疗费</p>
											</div>
										  </div>
										</div>



									</div><!--account_details_content end-->
									<div class="clearfix"></div>
								</div><!--Account Details end-->
							</div><!--video-details end-->
						</div>
					</div>
				</div>
			</section><!--user-account end-->

		</div><!--wrapper end-->

		    <script src="js/laydate.js"></script> <!-- 改成你的路径 -->
		    <script>
				lay('#version').html('-v'+ laydate.v);

				//执行一个laydate实例
				laydate.render({
				  elem: '#birthday' //指定元素
			});
			</script>
			<script src="js/jquery.min.js"></script>
			<script src="js/popper.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/flatpickr.js"></script>
			<script src="js/script.js"></script>
			<script src="js/layui.js"></script>


			<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
			<script>
				layui.use(['element', 'layer'], function(){
				  var element = layui.element;
				  var layer = layui.layer;

				  //监听折叠
				  element.on('collapse(test)', function(data){
				    layer.msg('展开状态：'+ data.show);
				  });
				});

		        function OnLinkClick() {
		            target = document.getElementById("logoutForm");
		            target.submit();
		            return false;
			        }

		    </script>

		    <script>
				layui.use(['tree', 'util'], function(){
				  var tree = layui.tree
				  ,layer = layui.layer
				  ,util = layui.util

				  //模拟数据2
				  ,data2 = [{
				    title: '开发语言'
				    ,id: 1
				    ,children: [{
				      title: 'JAVA'
				      ,id: 5
				    },{
				      title: 'C#'
				      ,id: 6
				    },{
				      title: 'PHP'
				      ,id: 7
				    }]
				  },{
				    title: '数据库'
				    ,id: 2
				    ,checked: true
				    ,children: [{
				      title: 'Oracle'
				      ,id: 8
				    },{
				      title: 'Mysql'
				      ,id: 9
				    },{
				      title: 'SqlServer'
				      ,id: 10
				    },{
				      title: 'PostgreSql'
				      ,id: 11
				    }]
				  },{
				    title: '框架'
				    ,id: 3
				    ,children: [{
				      title: 'Spring boot'
				      ,id: 12
				      ,fixed: true
				    },{
				      title: 'Struts'
				      ,id: 13
				    }]
				  },{
				    title: '基盘'
				    ,id: 4
				    ,children: [{
				      title: 'apache'
				      ,id: 14
				      ,checked: true
				    },{
				      title: 'tomcat'
				      ,id: 15
				      ,disabled: true
				    },{
				      title: 'nginx'
				      ,id: 16
				    }]
				  }];

				  //开启复选框
				  tree.render({
				    elem: '#test7'
				    ,data: data2
				    ,showCheckbox: true
				  });

				});
			</script>

	</body>

</html>